*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  color: #484848;
}

.main {
  height: 100vh;
  margin: 0;
  background-image: linear-gradient(
    to right bottom,
    rgba(253, 242, 253, 0.7),
    rgba( 246, 198,246, 0.7)),
    url("../img/meditation-timer-bg-1.jpg"); 
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

.main-heading {
  margin-bottom: 1.2rem;
  font-size: 4.8rem;
  text-align: center;
}

.timer {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.time-form {
  font-size: 3rem;
}

.time-input {
  border-radius: .5rem;
  font-size: 2rem;
  width: 7rem;
  padding: .5rem .5rem .5rem 1rem;
  margin-bottom: 1.8rem;
}

.time-input-error {
  color: #b24a59;
  font-size: 2rem;
  font-weight: bold;
  margin-top: -1.5rem;
  margin-bottom: 1rem;
}


.button {
  background-color: #ffb6c1;
  border: none;
  border-radius: 10rem;
  cursor: pointer;
}

.timer-button {
  display: block;
  margin: 0 auto;
  font-size: 2.4rem;
  padding: 1.2rem;
  width: 67%;
}


.clock-container {
  display: none;
}

.clock-buttons {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 1.4rem 10rem;
  text-align: center;
}

.clock-buttons li {
  display: inline;
}

.clock-button {
  border: none;
  font-size: 2.4rem;
  color: rgba(0, 0, 0, 0.54);
  background-color: transparent;
  transition: all .2s;
}

.clock-button:hover:not([disabled]) {
  color: rgba(178,74,89, 0.75);
}

.clock-button:focus,
.clock-button:active {
  outline: none;
  color:  rgba(0, 0, 0, 0.80);
}

.clock-button:disabled {
  color: rgba(0, 0, 0, 0.26);
}
/* .inactive-button {
  color: rgba(0, 0, 0, 0.26);
} */

.clock {
  font-size: 7rem;
}

.modal {
  display: none;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 100;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: .75rem 16rem;
  font-size: 3rem;
  text-align: center;
}

.modal-button {
  padding: 1rem 5rem;
  margin: 2rem 0 2rem 0;
  font-size: 1.8rem;
}

.modal-text {
  padding: 0;
  margin-top: 2rem;
}

.modal-icon {
  font-size: 10rem;
  margin-top: 2rem;
}

.modal-close-button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 1.4rem;
  right: 1.4rem;
  font-size: 2.4rem;
}

.modal-close-button:hover {
  color: #b24a59;
}