*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

.main {
  height: 100vh;
  margin: 0;
  background-image: linear-gradient(
    to right bottom,
    rgba(253, 242, 253, 0.7),
    rgba( 246, 198,246, 0.7)),
    url("../img/meditation-timer-bg-1.jpg"); 
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

.main-heading {
  margin-bottom: 1.2rem;
  font-size: 6rem;
  text-align: center;
}

.timer {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.time-form {
  font-size: 3rem;
}

.time-input {
  border-radius: .5rem;
  font-size: 2rem;
  width: 7rem;
  padding: .5rem .5rem .5rem 1rem;
  margin-bottom: 1.8rem;
}

.time-input-error {
  color: #b24a59;
  font-size: 2rem;
  font-weight: bold;
  margin-top: -1.5rem;
  margin-bottom: 1rem;
}

.timer-button {
  background-color: #ffb6c1;
  border: none;
  border-radius: 10rem;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  font-size: 2.4rem;
  padding: 1.2rem;
  width: 67%;
}


.clock-container {
  display: none;
}

.clock {
  font-size: 7rem;
}